.box-success-story-all {
  background-image: url("/src/assets/mt_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 50px; */
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title-success-story-all {
  color: white;
  text-align: center;
}
.subtitle-all-success-story {
  color: white;
  margin-top: 20px;
  text-align: center;
}
.parent-child-success-story-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.parent-child-success-story-all-osn {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.parent-success-story-all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.child-success-story-all {
  width: 24%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 896px) {
  .child-success-story-all {
    width: 48%;
  }
  .parent-success-story-all {
    justify-content: center;
    gap: 5px;
  }
  .title-success-story-all {
    font-size: 25px;
  }
}
