.box-kegiatan-belajar-cpns {
    background-image: url("/src/assets/mt_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}
.title-kegiatan-belajar-cpns {
    color: white;
    text-align: center;
}
.parent-kegiatan-belajar-cpns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.child-kegiatan-belajar-cpns {
    width: 40%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 896px) {
    .child-kegiatan-belajar-cpns {
        width: 100%;
    }
    .parent-kegiatan-belajar-cpns {
        justify-content: center;
        gap: 5px;
    }
    .title-kegiatan-belajar-cpns {
        font-size: 25px;
    }
}