/* PRODUK PTN */
.container-produk {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 70px;
}
.card-produk {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 24.2%;
}
.header-produk {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.parent-ratting-produk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.star-ratting-produk {
  width: 35%;
}
.btn-pesan-produk-sekarang {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f57c0b;
  text-align: center;
  padding: 12px;
  margin-top: 10px;
  gap: 10px;
  font-weight: 500;
  border-radius: 5px;
}
.fill-produk {
  padding: 15px;
}
.super-parent-produk {
  background-image: url("/src/assets/mt_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.super-parent-produk-tni {
  background-image: url("/src/assets/mt_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin-top: 50px;
}
.super-title-produk {
  color: white;
  font-weight: 800;
  font-size: 28px;
}
.parent-card-ptn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.harga-produk {
  margin-top: 20px;
  color: #f57c0b;
  font-size: 19px;
  font-weight: 600;
}
.title-produk {
  font-size: 20px;
  font-weight: 700;
}
.child-ratting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-rp {
  font-size: 10px;
}
.text-produk-terjual {
  font-weight: 600;
  font-size: 15px;
}

/* TO */
.parent-card-to {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 896px) {
    .container-produk {
        padding-left: 2%;
        padding-right: 2%;
    }
    .parent-card-ptn {
        display: grid;
    }
    .card-produk {
        width: 100%;
    }
    .super-title-produk {
        font-size: 23px;
    }
}
