.container-penjelasan-igcse {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}
.penjelasan-igcse {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.desk-penjelasan-igcse {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

/* IB */
.penjelasan-ib {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}
.desk-penjelasan-ib {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 896px) {
    .container-penjelasan-igcse {
        display: grid;
        place-items: center;
        margin-top: 20px;
    }
    .desk-penjelasan-igcse {
        text-align: justify;
        font-size: 15px;
    }
    .desk-penjelasan-ib {
        text-align: justify;
        font-size: 15px;
    }
    .title-penjelasan-igcse, .title-penjelasan-ib {
        font-size: 18px;
    }
}